body {
    margin: 0;
    padding: 0;
    background-image: url(https://img3.stockfresh.com/files/j/juhku/m/26/6022735_stock-photo-aged-gray-wood-texture-background.jpg);
}
h1{
    color:black;
    font-family: Segoe Print;
    font-size: 40px;
    font-style: italic;
    padding:35px;
    margin:-12px;
    margin-left: 250px;
    margin-bottom:20px;
}

form
{
    float:left;
    margin-left: 10px;
    margin-top: 200px;
    width:40%;
    border:1px solid gray;
    padding:12px;
    background-color:#EEEEEE;
    border-radius:10px;
}
label
{
    display:block;
    font-family: Segoe Print;
    float:left;
    margin-right: 40px;
    width:60%;
    clear:both;
}
input
{
    display: inline-block;
    float:right;
    margin-right: 90px;
    width:90%;
    margin:3px;

}
caption
{
    border:1px solid gray;
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
}
table
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-weight: 20px;
    border-collapse: collapse;
}
table, th, td 
{
    border: 1px solid black;
    font-weight: bold;
    font-size:15px;
}
th 
{
    height: 50px;
}
#tbdata
{
    margin-right: 3%
}